body {
	text-align: justify;
}

h1 {
	text-align: center;
}
.something {
	text-align: center;
}
.my-pic {
	float: right;
}
.container {
	height: 80%;
	width: 90%;
	padding-left: 5%;
}
.navigation {
	font-size: 25px;
	padding: 10px;
	text-decoration: none;
	color: white;
}
.navigation:hover {
	color: black;
	background-color: white;
}
.main-cont {
	margin-top: 20%;
}
.pic {
    position:relative;
    top:70%;
    height:7em;
    width:7em;
    border:5px solid rgb(0, 0, 0);
    border-radius: 70%;
    background-color: silver;
}
.pic:hover {
 	box-shadow: 0 0 5px 2px rgb(58, 50, 50);
 }
 .header {
 	background-color: black;
 	height: 32px;
 	text-align: center;
 }

.personal {
	font-size: 20px;
	color: maroon;
}

.obj {
	font-size: 20px;
	color: maroon;
}

.goal {
	font-size: 20px;
	color: maroon;
}

.strength {
	font-size: 20px;
	color: maroon;
}

.hobby {
	font-size: 20px;
	color: maroon;
}